<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add A Post</h5>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <button type="button" class="btn btn-primary adjht">Post</button>
                            <button type="button" class="btn btn-danger adjht">Add A Card</button>
                        </span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
        </div>
    </div>