<!--comment-->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="cool-font">Name</p>
      <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
      <br>
      <p class="cool-font">ID</p>
      <input class="form-control" type="text" id="mtgPostId" placeholder="Enter Post Number">
      <br>
      <p class="cool-font">Comment</p>
      <textarea class="form-control" rows="3" id="comment-box" placeholder="Enter Comment Here!"></textarea>
      <button id="comment-submit" class="btn btn-lg pull-right">Submit!</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Comments</h2>
      <hr>
      <div id="comment-area">
      </div>
    </div>
  </div>
</div>
