<li>
<div class="card" >
  <img src="/img/mtg.jpg" class="imgLimit card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"> random card text for mtg</p>
    <a href="#" class="btn btn-primary">comments</a>
  </div>
</div>