<li>
<div class="card" >
  <img src="/img/mtg.jpg" class="imgLimit card-img-top" id="" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"> random card text for mtg</p>
    {{>comment}}
  </div>
</div>