<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header dark">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<h1 style="text-align: center;">Magic The Gathering Communion</h1>

<h2 style="text-align: center;">Some Magic related stuff</h2>

<div class = "clearfix">
<aside>
  <div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>

</aside>



<main>
  <div class="container">



    <div class="row">
      <div class="col-12">

        {{> addNewPost}}

      </div>

      <ul class="list-group">
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
        {{> post}}
      </ul>


    </div>



  </div>
</main>
</div>